/* ----------------------------
---- ByteForce Indonesia ------
------ Albert's Website -------
-----------------------------*/

@media screen and (max-width:768px)
{
	#topheader
	{
		height: 7vh;

		.byteforce-logo
		{
			display: none;
		}

		.side-bar-toggle-mobile
		{
			display: block;
		}	

		.account-info
		{
			.accountbox
			{
				margin-top: 3px;	

				span
				{
					font-size: 18px;
					font-weight: 300;
				}
			}
		}
	}

	#body
	{
		width:100%;
		overflow-x: hidden;

		-webkit-box-shadow: -3px 0px 28px 3px rgba(0,0,0,1);
		-moz-box-shadow: -3px 0px 28px 3px rgba(0,0,0,1);
		box-shadow: -3px 0px 28px 3px rgba(0,0,0,1);
	}

    .bigwrapper
    {
    	width:100%;
		overflow-x: hidden;
		overflow-y:scroll;

    	#header
    	{
    		.side-bar-toggle
    		{
    			display: none;
    		}

    		.side-bar
    		{
    			height:100vh;
    		}
    	}

    	#body
    	{
    		width:100%;
    		margin-left: 0;
    		height: 100vh;
    		overflow-y:scroll;
    		-webkit-overflow-scrolling:touch;
    	}
    }

    .table-mobile
    {
    	width:100%;

		.col-sm-12
		{
			overflow-x: scroll;
		}
    }

    .header
    {
    	margin-top: 0;
    }
}

@media screen and (max-width:567px)
{
	#topheader
	{
		height: 10vh;
	}

	#header
	{
		.nav
		{
			ul
			{
				li
				{
					a
					{
						font-size: 18px !important;
					}
				}
			}
		}
	}

}