/* ----------------------------
---- ByteForce Indonesia ------
------ Albert's Website -------
-----------------------------*/

body
{
	margin:0;
	padding:0;
}

#login
{
	height:100vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2c3e50;

	.login_box
	{
		background: #fff;
		width:300px;
		height:auto;
		overflow: hidden;
		padding:2em;
		padding-top: 2.2em;
		padding-bottom: 2em;
		-webkit-box-shadow: 10px 10px 29px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 29px -5px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 29px -5px rgba(0,0,0,0.75);

		.logo_login
		{
			width:100%;
			height:80px;
			margin-bottom: 0.5em;

			h2
			{
				float: left;
				margin-left: 0.5em;
				font-family: 'helvetica';
				font-weight: 300;
			}

			img
			{
				max-width: 75px;
				float:left;
			}
		}
	}

	.error
	{
		width:100%;
		padding:0.1em 0 0.1em 0.1em;
		margin:1em 0 1em 0.5;
		background: #e74c3c;
		text-align: center;
		
		h2
		{
			font-family: 'helvetica';
			font-size: 16px;
			font-weight: 300;
			margin: 1em;
			color:#fff;
		}
	}

	input[type=text]
	{
		border: 0;
		border: solid 1px #ccc;
		width:100%;
		margin: 0.5em 0 1em 0;
		font-size: 18px;
		font-weight: 300;
		padding: 10px;
		transition:border .35s ease-in-out;
	}

	input[type=text]:focus
	{
		outline: none;
		border: solid 1px #000;
	}

	input[type=password]
	{
		border: 0;
		border: solid 1px #ccc;
		width:100%;
		margin: 0.5em 0 1em 0;
		font-size: 18px;
		font-weight: 300;
		padding: 10px;
		transition:border .35s ease-in-out;
	}

	input[type=password]:focus
	{
		outline: none;
		border: solid 1px #000;
	}

	input[type=submit]
	{
		width:100%;
		font-weight: 300;
		font-size: 18px;
		margin-top: 1em;
		border: 0;
		padding:1em 0 1em 0;
		background: #34495e;
		cursor: pointer;
		transition: background .35s ease-in-out;
		color:#fff;
	}

	input[type=submit]:hover
	{
		background: #2c3e50;
	}
}

#header
{
	position:absolute;
	float:left;
	width:10%;
	height:auto;

	.side-bar-toggle
	{
		padding:1em;
		position:absolute;
		left:0;
		transition:all .6s ease-in-out;

		a>img
		{
			width:35px;
		}
	}

	.blacked
	{
		opacity:0.4;
		background:#000;
	}

	.side-bar
	{
		padding:1em;
		width:250px;
		left:0px;
		height:93vh;
		transform:translateX(0);
		position:absolute;
		transition:all .6s ease-in-out;
		background: #2c3e50;
	}

	.collapsed
	{
		left:-250px;
		position:absolute;
		transform:translateX(-100px);
	}

	.expanded
	{
		transform:translateX(300px);
		position:absolute;
	}

	.move
	{

	}

	nav
	{
		ul
		{
			list-style: none;
			padding-left: 0.5em;
			
			li
			{
				margin-top: 2em;

				a
				{
					color:#fff;
					text-decoration: none;
					font-size: 20px;
					font-weight: 300;
				}
			}
			
		}
	}
}

#body 
{
	float:left;
	margin-left:10%;
	padding-right:5% !important;
	height:auto;
	overflow-y: scroll;
	transition: all .6s ease-in-out;
	padding:1em;
	padding-top:2em;
}

.btn
{	
	background: #34495e;
}

.quotes_field
{
	margin-top:2em;
	margin-bottom:2em;

	label
	{
		font-size: 20px;
	}
}

.hidden
{
	transform:translateY(-50px);
}

.movein
{
	transform:translateY(10px);
}

.success
{
	transition:all .3s ease-in-out;
	position:fixed;
	top:0;
	width:80%;
	z-index:1000;
}

.error
{
	transition:all .3s ease-in-out;
	position:fixed;
	top:0;
	margin:auto;
	width:80%;
	z-index:1000;
}


#topheader	
{
	padding:1em;
	background: #2c3e50;
	color:#fff;
	height:8vh;

	.byteforce-logo
	{
		height:auto;
		display:flex;
		align-items: center;

		h3
		{
			margin-left: 1em;
			font-family: 'helvetica';
			font-weight: 300;
			font-size: 24px;
			color:#fff;
		}

		img
		{
			float:left;
			max-width: 40px;
			max-height: 40px;
		}
	}

	.account-info
	{
		display:flex;
		align-items: center;
		justify-content: flex-end;

		span
		{
			text-align: right;
			font-size:24px;
			font-weight: 400;
		}
	}
}

@import 'media';