/* ----------------------------
---- ByteForce Indonesia ------
------ Albert's Website -------
-----------------------------*/
body {
  margin: 0;
  padding: 0; }

#pagedet {
  display: none;
  margin-left: 1em;
  margin-bottom: 2em; }

#login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c3e50; }
  #login .login_box {
    background: #fff;
    width: 300px;
    height: auto;
    overflow: hidden;
    padding: 2em;
    padding-top: 2.2em;
    padding-bottom: 2em;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-box-shadow: 10px 10px 29px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -5px rgba(0, 0, 0, 0.75); }
    #login .login_box .logo_login {
      width: 100%;
      height: 80px;
      margin-bottom: 0.5em; }
      #login .login_box .logo_login h2 {
        float: left;
        margin-left: 0.5em;
        font-family: 'helvetica';
        font-weight: 300; }
      #login .login_box .logo_login img {
        max-width: 75px;
        float: left; }
  #login .error {
    width: 100%;
    padding: 0.1em 0 0.1em 0.1em;
    margin: 1em 0 1em 0.5;
    background: #e74c3c;
    text-align: center; }
    #login .error h2 {
      font-family: 'helvetica';
      font-size: 16px;
      font-weight: 300;
      margin: 1em;
      color: #fff; }
  #login input[type=text] {
    border: 0;
    border: solid 1px #ccc;
    width: 100%;
    margin: 0.5em 0 1em 0;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    transition: border .35s ease-in-out; }
  #login input[type=text]:focus {
    outline: none;
    border: solid 1px #000; }
  #login input[type=password] {
    border: 0;
    border: solid 1px #ccc;
    width: 100%;
    margin: 0.5em 0 1em 0;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    transition: border .35s ease-in-out; }
  #login input[type=password]:focus {
    outline: none;
    border: solid 1px #000; }
  #login input[type=submit] {
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    margin-top: 1em;
    border: 0;
    padding: 1em 0 1em 0;
    background: #34495e;
    cursor: pointer;
    transition: background .35s ease-in-out;
    color: #fff; }
  #login input[type=submit]:hover {
    background: #2c3e50; }

.bigwrapper {
  height: auto; }

#header {
  position: fixed;
  float: left;
  width: 10%;
  margin-top: 8vh;
  height: auto; }
  #header .side-bar-toggle {
    padding: 1em;
    position: absolute;
    left: 0;
    transition: all .6s ease-in-out; }
    #header .side-bar-toggle a > img {
      width: 35px; }
  #header .blacked {
    opacity: 0.4;
    background: #000; }
  #header .side-bar {
    padding: 1em;
    width: 250px;
    left: 0px;
    height: 93vh;
    transform: translateX(0);
    position: absolute;
    transition: all .6s ease-in-out;
    background: #2c3e50; }
  #header .collapsed {
    left: -250px;
    position: absolute;
    transform: translateX(0); }
  #header .expanded {
    transform: translateX(300px);
    position: absolute; }
  #header nav ul {
    list-style: none;
    padding-left: 0.5em; }
    #header nav ul li {
      margin-top: 2em; }
      #header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300; }

#body {
  float: left;
  margin-left: 10%;
  margin-top: 8vh;
  padding-right: 5% !important;
  height: 100vh;
  overflow-y: scroll;
  transition: all .6s ease-in-out;
  padding: 1em;
  padding-top: 2em; }

.btn {
  background: #34495e; }

.quotes_field {
  margin-top: 2em;
  margin-bottom: 2em; }
  .quotes_field label {
    font-size: 20px; }

.hidden {
  transform: translateY(-50px); }

.movein {
  transform: translateY(10px); }

.success {
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 1000; }

.error {
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  margin: auto;
  width: 80%;
  z-index: 1000; }

.header {
  margin-top: 5em; }

.card {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 11px -3px #7a7a7a;
  -moz-box-shadow: 0px 0px 11px -3px #7a7a7a;
  box-shadow: 0px 0px 11px -3px #7a7a7a; }

#topheader {
  padding: 1em;
  background: #2c3e50;
  color: #fff;
  height: 8vh;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 6px 11px -3px #7a7a7a;
  -moz-box-shadow: 0px 6px 11px -3px #7a7a7a;
  box-shadow: 0px 6px 11px -3px #7a7a7a; }
  #topheader .byteforce-logo {
    height: auto;
    display: flex;
    align-items: center; }
    #topheader .byteforce-logo h3 {
      margin-left: 1em;
      margin-top: 10px;
      font-family: 'helvetica';
      font-weight: 300;
      font-size: 24px;
      color: #fff; }
    #topheader .byteforce-logo img {
      float: left;
      max-width: 40px;
      max-height: 40px; }
  #topheader .side-bar-toggle-mobile {
    display: none;
    margin-top: 5px;
    z-index: 100;
    position: fixed; }
    #topheader .side-bar-toggle-mobile img {
      width: 25px; }
    #topheader .side-bar-toggle-mobile img:hover {
      opacity: 0.5; }
  #topheader .account-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    #topheader .account-info span {
      text-align: right;
      font-size: 24px;
      font-weight: 400; }

/* ----------------------------
---- ByteForce Indonesia ------
------ Albert's Website -------
-----------------------------*/
@media screen and (max-width: 768px) {
  #pagedet {
    display: block; }

  #topheader {
    height: 7vh; }
    #topheader .byteforce-logo {
      display: none; }
    #topheader .side-bar-toggle-mobile {
      display: block; }
    #topheader .account-info .accountbox {
      margin-top: 3px; }
      #topheader .account-info .accountbox span {
        font-size: 18px;
        font-weight: 300; }

  #body {
    width: 100%;
    overflow-x: hidden;
    margin-top: 7vh;
    -webkit-box-shadow: -3px 0px 28px 3px black;
    -moz-box-shadow: -3px 0px 28px 3px black;
    box-shadow: -3px 0px 28px 3px black; }

  .bigwrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }
    .bigwrapper #header {
      margin-top: 7vh; }
      .bigwrapper #header .side-bar-toggle {
        display: none; }
      .bigwrapper #header .side-bar {
        height: 100vh; }
    .bigwrapper #body {
      width: 100%;
      margin-left: 0;
      height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }

  .table-mobile {
    width: 100%; }
    .table-mobile .col-sm-12 {
      overflow-x: scroll; }

  .header {
    margin-top: 0; } }
@media screen and (max-width: 567px) {
  #topheader {
    height: 10vh; }

  #body {
    margin-top: 10vh; }

  #header .nav ul li a {
    font-size: 18px !important; } }

/*# sourceMappingURL=adminstyle.css.map */
